<% if user_signed_in? %>
  <div class="user_nav grid-6">
    <%= current_user.email %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <%= link_to "New blog", new_blog_path %>
    
  </div>
<% else %>
  <div class="grid-6">
    <%= link_to "ログイン", new_user_session_path, class: "post" %>
    <%= link_to "新規登録", new_user_registration_path, class: "post" %>
  </div>
<% end %>
<div id="new-blog-link">
  <%= link_to '新規ブログを作成する', new_blog_path %>
</div>

<% @blogs.each do |blog| %>
 
  <div class="blog-panel">
    <h2><%= blog.title %></h2>
    <p>名前<%= blog.user.name %></p>
    <p><%= blog.content %></p>
    <p><%= blog.created_at %></p>
    <div class="blog-links">
      <%= link_to 'Show', blog %>
      <%= link_to 'Edit', edit_blog_path(blog) %> |
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>

